<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pqaar.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".truckOwner.view.TruckOwnerDashboardTest" />
        <activity android:name=".truckOwner.view.ManageTrucksTest" />
        <activity android:name=".mandiAdmin.view.MandiAdminDashboard" />
        <activity android:name=".unionAdmin.view.UnionAdminDashboard" />
        <activity android:name=".truckOwner.view.TruckOwnerDashboardActivity" />
        <activity
            android:name="com.pqaar.app.common.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pqaar.app.common.LoginActivity" />
    </application>

</manifest>